<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Kate's ITC298 Project</a>
    </div><!-- End navbar-header -->
    
    <div class="collapse navbar-collapse navbar-right" id="collapse-menu">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
          <fb:login-button scope="public_profile,email" autologoutlink="true" onlogin="checkLoginState();">
          </fb:login-button>
      </ul>
    </div><!-- End navbar-collapse -->
    

    
  </div> <!-- End Container -->
</nav>