<div class="page-header">
  <h1>Book Details</h1>
</div>

<form class="form-horizontal" method="POST" action="/update">
  
  <!--ID value cannot be updated -->
  {{#myItem}}
  <div class="form-group">
    <label class="col-sm-2 control-label h4">Title</label>
    <div class="col-sm-10">
      <h4 class="form-control-static" id="title">{{title}}</h4>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <p class="form-control-static" >{{author}}</p>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputPrice" class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
        <p class="form-control-static" ><span>$</span>{{price}}</p>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputSold" class="col-sm-2 control-label">Sold</label>
    <div class="col-sm-10">
        <p class="form-control-static" >{{#if sold}}Yes{{else}}No{{/if}}</p>
    </div>
  </div>
  
  <div class="pull-right">
      <button class="btn btn-warning" id="btn-delete">Update</button>
      <button class="btn btn-danger" id="btn-update">Delete</button>
  </div>
  {{/myItem}}
  <!--DateAdded value cannot be updated -->

  {{#if btn_total}}
  <a href="/" id="btn_total">See total books</a>
  {{/if}}
</form>

{{! javascript script for creating button attr, using the title}}
<script>
  $( document ).ready(function() {
    var buttons = $('button');
    var title = $( "#title" ).html();
    buttons.on("click", function(){
      var $this = $(this);
      $('form').attr("action", "../" + $this.text().toLowerCase() + "/" + title);
    });
  }); 
</script>
