<h1>Welcome to Kate's first Express Home</h1>

<div class="row">
  <div class="col-xs-12">
    <form class="form-inline" method="POST" action="/search">
      <div class="form-group">
        <label class="sr-only" for="search" >Search</label>
        <input type="text" class="form-control" name="search" required="true" placeholder="Search Book Title">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
      <a href="/add" class="btn btn-success pull-right">Add a book</a>
    </form>
  </div>
</div>

<hr></hr>

<div class="row">
  <div class="col-xs-12">
    <h3>{{message}}</h3>
    {{#each books}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
      </div>
      <div class="panel-body">
        <p>Author: <span>{{author}}</span></p>
        <p>Price: <span>{{price}}</span></p>
      </div>
    </div>
    {{/each}}
  </div>
</div>