<h1>{{message}}</h1>

{{#each results}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    <p>Author: <span>{{author}}</span></p>
    <p>Price: <span>{{price}}</span></p>
  </div>
</div>
{{/each}}