<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Angular</title>
    <!-- Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Angular UI Bootstrap -->
    <script src="/js/ui-bootstrap-1.3.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<script>
var bookApp = angular.module('bookApp',[]);

bookApp.controller('BookController', function($scope, $http) {
    
    //$http.get('/someUrl', config).then(successCallback, errorCallback);
    $http.get('/api/books')
        .then(function successCallback(response) {
            $scope.books = response.data;
        }, function errorCallback(response) {
            console.log('Error: ' + response.data);
    });
    
    $scope.all = true;
    $scope.result = false;
    $scope.detail = false;
    
    $scope.allBooks = function(){
        $scope.all = true;
        $scope.result = false;
        $scope.detail = false;
    };
    
    $scope.backtoResult = function(){
        if( !$scope.results || $scope.results.length == 0){
            $scope.all = true;
            $scope.result = false;
            $scope.detail = false;
        }else{
            $scope.all = false;
            $scope.result = true;
            $scope.detail = false;        
        }
    };
    
    $scope.searchBooks = function(){
        
        $scope.all = false;
        $scope.result = true;
        $scope.detail = false;
        
        function isFound(obj){
            var title = obj.title.toLowerCase();
            return title.includes($scope.userInput);
        }
            
        if ($scope.userInput == null){
            $scope.results = [];
            $scope.allBooks();
        }else{
            $scope.results = $scope.books.filter(isFound);
            return $scope.results; 
        }
    };
    
    $scope.getDetail = function(x){
        
        $scope.all = false;
        $scope.result = false;
        $scope.detail = true;
                
        function isMatched(obj){
            var id = obj.id;
            return id === $scope.books[x].id;
        }
        $scope.theBook =  $scope.books.find(isMatched);
        return $scope.theBook;
    };
    
});


</script>

<body ng-app="bookApp">
<div class="container" ng-controller="BookController">
    
    <div class="page-header">
      <h1>Kate's Book List</h1>
    </div><!-- End Row -->
    
    <div class="row">
        <div class="col-sm-12 form-group">
            <label class="control-label sr-only" for="search" >Search</label>
            <div class="input-group">
                <input ng-model="userInput" ng-change="searchBooks()" type="text" class="form-control" name="userInput" id="userInput" required="true" placeholder="Enter Book Title">
                <span class="input-group-btn"><button class="btn btn-default" id="btn-search">Search</button></span>
            </div>
        </div>
    </div><!-- End Row -->
    
    <div class="row" id="row_all_books" ng-show="all">
        <div class="col-sm-12">
            <h4>{{books.length}} total books</h4>
        </div>
        
        <div ng-repeat="book in books | orderBy:'title'">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a ng-click="getDetail($index)">{{book.title}}</a>
                        <div class="pull-right">
                            <span ng-if="book.sold==true" class="badge"> sold </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        <!-- Start ng if -->
                        <div class="row book_thumbnail" ng-if="book.photoUrl == null" style="background-image: url(/book-photo/no-image.png);">
                        </div>
                        
                        <div class="row book_thumbnail" ng-if="book.photoUrl != null" style="background-image: url({{book.photoUrl}});">
                        </div>
                        <!-- End ng if -->
                        
                        <div class="row">
                            <p><span class="col-md-4"><strong>Class: </strong></span> <span class="col-md-8">Class Name{{book.class}}</span></p>
                            <p><span class="col-md-4"><strong>Price: </strong></span> <span class="col-md-8">{{book.price}}</span></p>
                            <p><span class="col-md-4"><strong>Author:</strong></span> <span class="col-md-8">{{book.author}}</span></p>
                            <p><span class="col-md-4"><strong>Detail:</strong></span> <span class="col-md-8">{{book.detail}}</span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <pagination 
              ng-model="currentPage"
              total-items="todos.length"
              max-size="maxSize"  
              boundary-links="true">
            </pagination>
        </div>
    </div><!-- End Row -->
    
    <div class="row" id="row_search_results" ng-show="result">
        <div class="col-sm-12">
            <p>{{results.length}} total books</p>
        </div>
        <div ng-repeat="book in results | orderBy:'title'">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a ng-click="getDetail($index)">{{book.title}}</a>
                        <div class="pull-right">
                            <span ng-if="book.sold==true" class="badge"> sold </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        <!-- Start ng if -->
                        <div class="row book_thumbnail" ng-if="book.photoUrl == null" style="background-image: url(/book-photo/no-image.png);">
                        </div>
                        
                        <div class="row book_thumbnail" ng-if="book.photoUrl != null" style="background-image: url({{book.photoUrl}});">
                        </div>
                        <!-- End ng if -->
                        
                        <div class="row">
                            <p><span class="col-md-4"><strong>Class: </strong></span> <span class="col-md-8">Class Name{{book.class}}</span></p>
                            <p><span class="col-md-4"><strong>Price: </strong></span> <span class="col-md-8">{{book.price}}</span></p>
                            <p><span class="col-md-4"><strong>Author:</strong></span> <span class="col-md-8">{{book.author}}</span></p>
                            <p><span class="col-md-4"><strong>Detail:</strong></span> <span class="col-md-8">{{book.detail}}</span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <a ng-click="allBooks()">See total books</a>
        </div>
    </div><!-- End Row -->
    
    
    <div class="row" ng-show="detail">
        <div class="col-sm-12">
            <h2>Book Detail</h2>
            <p>Title: {{theBook.title}}</p>
            <p>Author: {{theBook.author}}</p>
            <p>Price: {{theBook.price}}</p>
            <p>Sold: {{theBook.sold}}</p>
            <p>Date: {{theBook.dateAdded}}</p>
            
            <a ng-click="backtoResult()">back to result</a>
        </div>
    </div>


</div> <!-- End Container -->

<script>

    
</script>
</body>
</html>



